body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    max-width: 2000px;
    max-width: 100%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-inline: 300px;
    background-color: #1F2937;
    color: #F9FAF8;
    box-sizing: border-box;
    width: 100%;
    gap: 100px;
}

.logo {
    font-size: 24px;
    min-width: 150px;
    margin-right: auto;
}

.head-link {
    margin-left: auto;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    min-width: 370px;
}

.sec-text {
    color: #E5E7EB;
    margin: 0;
}

/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    gap: 32px;
    background-color: #1F2937;
    padding-inline: 300px;
    padding-block: 125px;
}

.hero-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 8px;
    min-width: 300px;
    max-width: 740px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}

.image-placeholder {
    display: flex;
    flex: 1;
    min-width: 300px;
    aspect-ratio: 16 / 9;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    max-width: 740px;
}

button {
    width: 100px;
    height: 28px;
    border-radius: 6px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: transparent;
}

/* INFORMATION SECTION */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 300px;
    padding-block: 50px;
}

.info-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    min-width: 460px;
}

.info-boxes {
    display: flex;
    gap: 24px;
}

.info-pack {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.info-box {
    display: flex;
    flex: auto;
    aspect-ratio: 1 / 1;
    min-height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

/* QUOTE SECTION */

.quote-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    width: 100%;
    padding-inline: 300px;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    max-width: 1500px;
    margin-block: 100px;
    gap: 8px;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: 900;
}

/* CALL TO ACTION SECTION */

.cta-sect {
    display: flex;
    justify-content: center;
    padding-block: 100px;
    padding-inline: 100px;
    box-sizing: border-box;
    width: 1600px;
    max-width: 100%;
    height: 320px;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding-inline: 50px;
    border-radius: 6px;
    padding-block: 25px;
    color: #F9FAF8;
    gap: 50px;
    min-width: 700px;
    max-width: 1600px;
    box-sizing: border-box;
    flex: auto;
}

.cta-head {
    margin: 0;
}

.cta-text {
    margin-right: auto;
}

.cta-button {
    border: #F9FAF8 solid 2px;
    margin-left: auto;
}

footer {
    background-color: #1F2937;
    width: 100%;
    color: #F9FAF8;
    text-align: center;
    padding-block: 25px;
}
